@font-face {
    font-family: 'FivoSans';
    src: url(../FivoSans/FivoSans-Light.otf);
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'FivoSans';
    src: url(../FivoSans/FivoSans-Regular.otf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'FivoSans';
    src: url(../FivoSans/FivoSans-Medium.otf);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'FivoSans';
    src: url(../FivoSans/FivoSans-Bold.otf);
    font-style: normal;
    font-weight: 700;
}

/* common css */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none !important;
    display: inline-block;
}
ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
/* navbar start */
#navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 34px!important;
    color: #1c2056 !important;
    font-family: 'FivoSans';
    font-weight: 400;
    font-size: 18px;
    transition: all 0.4s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #ff6a6d !important;
}
.nav-button{
    margin-left: 125px;
}
.nav-button a{
    padding: 15px 45px;
    background: #ff6a6d;
    color: #fff;
    border-radius: 35px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'FivoSans';
    font-weight: 400;
    border: 1px solid #ff6a6d;
    transition: all 0.4s;
}
.nav-button a:hover{
    background: transparent;
    color: #ff6a6d;
}
/* navbar part end */
/* banner part start */
#banner{
    background: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 266px;
    padding-bottom: 453px;
}
.banner-text h1{
    color: #3b3838;
    font-size: 50px;
    font-family: 'FivoSans';
    font-weight: 700;
}
.banner-text p{
    color: #000;
    font-size: 18px;
    font-family: 'FivoSans';
    font-weight: 200;
    line-height: 40pt;
}
.banner-text a{
    padding: 32px 85px;
    background: #ff6a6d;
    color: #fbfcfc;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'FivoSans';
    font-weight: 400;
    margin-right: 25px;
    border: 1px solid #ff6a6d;
    transition: all 0.4s;
}
.banner-text a:hover{
    background: transparent;
    color: #ff6a6d;
}
/* banner part end */
/* about part start */
.about-item{
    padding-bottom: 200px;
}
.about-text{
    text-align: center;
}
.about-text h3{
    font-size: 50px;
    font-family: 'FivoSans';
    font-weight: 700;
    color: #3b3838;
}
.about-text p{
    font-size: 18px;
    font-family: 'FivoSans';
    font-weight: 200;
    color: #000;
    width: 660px;
    line-height: 30pt;
    margin: 0 auto;
    margin-bottom: 100px;
}
.item-details img{
    height: 222px;
    width: 208px;
}
.item-details h3{
    font-size: 24px;
    font-family: 'FivoSans';
    font-weight: 700;
    color: #3b3838;
    margin-top: 50px;
    margin-bottom: 27px;
}
.item-details p{
    font-size: 18px;
    font-family: 'FivoSans';
    font-weight: 200;
    color: #000;
    line-height: 20pt;
}
.about-details{
    background: url(../images/leaf.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 336px;
}
.about-details-text h3{
    font-size: 50px;
    font-family: 'FivoSans';
    font-weight: 700;
    color: #3b3838;
}
.small-details{
    display: flex;
    padding-bottom: 50px;
}
.small-details i{
    color: #ff6a6d;
    font-size: xx-large;
    padding-right: 20px;
    padding-left: 115px;
}
.sd-text h3{
    font-size: 24px;
    font-family: 'FivoSans';
    font-weight: 700;
    color: #000;

}
.sd-text p{
    font-size: 18px;
    font-family: 'FivoSans';
    font-weight: 200;
    color: #000;
    line-height: 20pt;

}
.about-details-text-2{
    padding-top: 130px;
}
.about-details-text-2 h5{
    font-size: 20px;
    font-family: 'FivoSans';
    font-weight: 500;
    color: #3d3d3d;
}
.about-details-text-2 h3{
    font-size: 50px;
    font-family: 'FivoSans';
    font-weight: 700;
    color: #3b3838;
    width: 546px;
    padding-bottom: 100px;
}
.about-details-text-2 p{
    font-size: 18px;
    font-family: 'FivoSans';
    font-weight: 200;
    color: #3d3d3d;
    width: 390px;
    margin: 0 auto;
    line-height: 20pt;
}
.about-details-text-2 a{
    color: #3cbef1;
    font-size: 18px;
    font-family: 'FivoSans';
    font-weight: 400;
    display: flex;
    padding-left: 75px ;
    padding-top: 65px;
}
.about-details-image img{
    width: 100%;
}
.about-details-3{
    margin-top: 320px;
    background: url(../images/leaf-left.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.about-details-3 a{
    color: #3cbef1;
    font-size: 18px;
    font-family: 'FivoSans';
    font-weight: 400;
    display: flex;
    padding-left: 75px ;
    padding-top: 65px;
}
.about-d-text-3 h3{
    font-size: 40px;
    font-family: 'FivoSans';
    font-weight: 700;
    color: #3b3838;
    /* padding-left: 80px; */
    width: 668px;
    margin-right: 30px;
}
.about-d-text-3 p{
    font-size: 18px;
    font-family: 'FivoSans';
    font-weight: 400;
    color: #3b3838;
    line-height: 20pt;
    padding-left: 40px;
    text-align: start;
    width: 560px;
    padding-top: 30px;
}
#about{
    margin-bottom: 120px;
}
/* about part end */
/* pricing part start */
#pricing{
    background: url(../images/foot-back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* margin-top: 150px; */
}
.price{
    background: url(../images/leaf.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}
.price-details i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #7bc3fd;
    line-height: 40px;
    display: flex;
    justify-content: center;
    color: #fff;
    transition: all 0.4s;
}
.price-details h4{
    font-size: 18px;
    font-family: 'FivoSans';
    font-weight: 400;
    color: #3b3838;
    padding-top: 12px;
    padding-left: 35px;
}
.p-icon{
    display: flex;
    margin-bottom: 30px;
}
.taka h4 span{
    font-size: 40px;
    padding-bottom: 30px;
}
.taka a{
    padding: 20px 15px;
    background: #5fcef5;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'FivoSans';
    font-weight: 400;
    transition: all 0.4s;
}
.yoo{
    font-size: 25px;
    font-family: 'FivoSans';
    font-weight: 400;
    color: #3b3838;
    padding-bottom: 30px;
}
.taka h3{
    font-size: 16px;
    font-family: 'FivoSans';
    font-weight: 400;
    color: #3b3838;
}
.price-box{
    padding: 30px 15px;
    background: #969494;
    border-radius: 35px;
    transition: all 0.4s;
}
.price-wrap{
    margin: 0 auto;
}
.price-box:hover{
    transform: translateY(-40px);
    box-shadow: 0px 0px 20px 0px rgba(255,112,120,0.66);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(255,112,120,0.66);
    -moz-box-shadow: 0px 0px 20px 0px rgba(255,112,120,0.66);
}
.price-box:hover .price-details i{
    background: #ff7078;
}
.price-box:hover .taka a{
    background: #ff7078;
}

/* procing part end */
/* footer part start */
#footer{
    margin-top: 245px;
    background:  url(../images/leaf-left.png);
    background-position: 100% 0px;
    background-repeat: no-repeat;
    background-size: 170px;
}
.foot-wrap{
    background: #b4effe;
    padding-top: 8%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}
.contact h3{
    font-size: 25px;
    font-family: 'FivoSans';
    font-weight: 500;
    color: #2e2e2e;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.contact p{
    font-size: 16px;
    font-family: 'FivoSans';
    font-weight: 400;
    color: #2e2e2e;
    line-height: 15pt;
    cursor: pointer;
}
/* about part end */



@media (max-width: 480px){
    *{
        overflow-x: hidden;
    }
    .about-details-3 {
        margin-top: 320px;
        background: none;
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
    }
    .about-d-text-3 h3 {
        font-size: 28px;
        font-family: 'FivoSans';
        font-weight: 700;
        color: #3b3838;
        width: 390px !important;
    }
    .about-d-text-3 p {
        font-size: 18px;
        font-family: 'FivoSans';
        font-weight: 400;
        color: #3b3838;
        line-height: 20pt;
        padding-left: 0px;
        text-align: start;
        width: 333px !important;
        padding-top: 30px;
    }
    .about-text p {
        font-size: 18px;
        font-family: 'FivoSans';
        font-weight: 200;
        color: #000;
        width: 369px;
        line-height: 30pt;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .about-details-text-2 h3 {
        font-size: 30px;
        font-family: 'FivoSans';
        font-weight: 700;
        color: #3b3838;
        width: 440px;
        padding-bottom: 14px;
    }
    .banner-text a {
        padding: 32px 85px;
        background: #ff6a6d;
        color: #fbfcfc;
        border-radius: 50px;
        cursor: pointer;
        font-size: 20px;
        font-family: 'FivoSans';
        font-weight: 400;
        margin-right: 25px;
        border: 1px solid #ff6a6d;
        transition: all 0.4s;
        margin-top: 20px;
        margin-left: 75px;
    }
    #banner {
        background: url(../images/banner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 140px;
        padding-bottom: 167px;
    }
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        background: #b4effe;
    }
    .nav-button a {
        padding: 15px 45px;
        background: #ff6a6d;
        color: #fff;
        border-radius: 35px;
        cursor: pointer;
        font-size: 18px;
        font-family: 'FivoSans';
        font-weight: 400;
        border: 1px solid #ff6a6d;
        transition: all 0.4s;
        margin-bottom: 30px;
    }
    .navbar-toggler{
        background-color: #ff6a6d;
        outline: none;
    }
    .about-item {
        padding-bottom: 140px;
    }
    .about-details {
       background: none;
        margin-bottom: 240px;
    }
    .small-details i {
        color: #ff6a6d;
        font-size: xx-large;
        padding-right: 20px;
        padding-left: 81px;
    }
    .about-details-text-2 {
        padding-top: 0px;
    }
    .about-details-image img {
        width: 100%;
        margin-bottom: 71px;
    }
    .about-text p {
        font-size: 18px;
        font-family: 'FivoSans';
        font-weight: 200;
        color: #000;
        width: 315px !important;
        line-height: 30pt;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    
}
@media (max-width: 991px) {
    *{
        overflow-x: hidden;
    }
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        background: #b4effe;
    }
    .nav-button a {
        padding: 15px 45px;
        background: #ff6a6d;
        color: #fff;
        border-radius: 35px;
        cursor: pointer;
        font-size: 18px;
        font-family: 'FivoSans';
        font-weight: 400;
        border: 1px solid #ff6a6d;
        transition: all 0.4s;
        margin-bottom: 30px;
    }
    .navbar-toggler{
        background-color: #ff6a6d;
        outline: none;
    }
    .about-d-text-3 h3 {
        font-size: 40px;
        font-family: 'FivoSans';
        font-weight: 700;
        color: #3b3838;
        width: 645px;
        margin-right: 0px;
    }
    .about-text p {
        font-size: 18px;
        font-family: 'FivoSans';
        font-weight: 200;
        color: #000;
        width: 500px;
        line-height: 30pt;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .banner-text a {
        padding: 32px 85px;
        background: #ff6a6d;
        color: #fbfcfc;
        border-radius: 50px;
        cursor: pointer;
        font-size: 20px;
        font-family: 'FivoSans';
        font-weight: 400;
        margin-right: 25px;
        border: 1px solid #ff6a6d;
        transition: all 0.4s;
        margin-top: 15px;
    }
    .about-d-text-3 p {
        font-size: 18px;
        font-family: 'FivoSans';
        font-weight: 400;
        color: #3b3838;
        line-height: 20pt;
        padding-left: 40px;
        text-align: start;
        width: 520px;
        padding-top: 30px;
    }
}